:root {
    --background-color: #f9f9f9;
    --text-color: #333;
    --header-background-color: #447446;
    --header-text-color: white;
    --button-background-color: #419643;
    --button-text-color: white;
    --button-hover-background-color: #45a049;
    --content-background-color: white;
    --tag-selected-color: #5dd561; /* Green color for light mode */
    --tag-selected-text-color: rgb(255, 255, 255); /* White text for contrast */
}
